/* Replace .logo with the appropriate class or ID selector for your logo element */
.logo {
    /* Set the desired width and height for your logo */
    width: 200px;
    height: 50px;
}

.leapix-logo {
    content: url("../_static/leapix_light.png");
    width: auto;
    height: 50px;
}

@media (prefers-color-scheme: dark) {
    .leapix-logo {
        content: url("../_static/leapix_dark.png");
        width: auto;
        height: 50px;
    }
}